/* Social Display Stylesheet */

@import 'font-awesome.min.css';

.social_display {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.social_display li {
	display: inline;
	float: left;
	width: 21%;
	margin: 4% 4% 4% 0;
}

.social_display li a {
	text-decoration: none;
	color: #FFFFFF;
}

.social_display li a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

li#fb_color,
li#twitter_color,
li#linkedin_color,
li#google_color,
li#wp_color,
li#rss_color {
	font-size: 2em;
	padding: 2%;
	border-radius: 50%;
	text-align: center;
}

/* Reset CSS for text display */

#no-logos li {
	background-color: transparent !important;
	font-size: 1em;
	margin: 0;
	width: auto;
}